body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f5f5f5;
}

.container {
    display: flex;
    height: 100vh;
}

.left-panel, .right-panel {
    width: 50%;
    padding: 20px;
    overflow-y: auto;
}

.left-panel {
    background: #ffffff;
    border-right: 2px solid #ddd;
}

.right-panel {
    background: #fafafa;
}

textarea {
    width: 98%;
    height: 300px;
    padding: 10px;
    margin-right: 10px;
    margin-top: 15px;
    border-radius: 5px;
}

button {
    margin-top: 15px;
    padding: 10px 20px;
    background: #3a7afe;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #2f68d8;
}

.task-card {
    padding: 15px;
    margin-bottom: 12px;
    border-radius: 8px;
    background: white;
    border-left: 6px solid #999;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}


.priority-high {
    border-left-color: red;
}
.priority-medium {
    border-left-color: orange;
}
.priority-low {
    border-left-color: green;
}
